*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: system-ui, sans-serif;
}

body{
  background:#0b0b10;
  color:#fff;
}

/* HEADER */
.topbar{
  padding:18px 24px;
  background:#12121a;
  border-bottom:1px solid #1f1f2e;
}

.topbar h1{
  font-size:24px;
  font-weight:700;
}

.topbar span{
  color:#4f7cff;
}

/* FEED */
.feed{
  max-width:600px;
  margin:30px auto;
  display:flex;
  flex-direction:column;
  gap:22px;
}

/* POST CARD */
.post{
  background:#14141f;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,.5);
}

.post img{
  width:100%;
  display:block;
}

.post-content{
  padding:14px;
}

.post-content h3{
  font-size:16px;
}

.post-content p{
  font-size:14px;
  color:#aaa;
  margin-top:6px;
}
